// Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Primary Brand Colors
$primary-color-main: #ff8364; // Main EthnicBite Orange

// Text Colors
$text-primary: #171717; // Dark text
$text-secondary: #525252; // Medium gray
$text-light: #fafafa; // Light text
$text-muted: #e5e5e5; // Subtle gray text
$text-white: #ffffff; // Pure white

// Icon Colors
$icon-purple: #c27aff;
$icon-green: #00d492;
$icon-orange: #ff8364;

// Background Colors
$bg-light: #fafafa; // Light section background
$bg-footer: #fff4f1; // Footer background
$bg-navbar: #262626; // Dark navbar background
$bg-white: #ffffff; //white background

// Card Colors
$card-light-bg: #fafafa; // Light card background
$card-dark-bg: #171717; // Dark card background

// Banner Overlay
$banner-overlay: rgba(248, 97, 59, 0.8); // Primary 500 with transparency
$banner-solid: #f8613b; // Solid color if needed
