@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.smash-hits {
  &__headline {
    padding: 20px;
    text-align: center;

    @include tablet {
      padding: 32px;
    }

    &-title {
      font-family: "Poppins";
      font-size: 24px;
      font-weight: 600;
      color: $text-primary;
      line-height: 1.8rem;

      @include tablet {
        font-size: 26px;
        font-weight: 500;
      }

      span {
        color: #e5451d;
      }
    }

    &-description {
      padding-top: 8px;
      font-size: 16px;
      color: $text-secondary;

      @include tablet {
        font-size: 15px;
      }
    }
  }

  &__meals {
    padding: 0 12px;

    .scroll-menu-wrapper {
      overflow: hidden;
    }

    @include desktop {
      max-width: 1200px;
      margin: 0 auto;
    }

    .smash-hits__meals-chingri,
    .smash-hits__meals-lasagna,
    .smash-hits__meals-kimchi,
    .smash-hits__meals-ratatouille,
    .smash-hits__meals-mango {
      flex: 0 0 auto;
      height: 145px;
      width: 180px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;

      @include tablet {
        height: 280px;
        width: 340px;
      }

      img {
        width: 150px;
        height: 115px;
        object-fit: cover;
        border-radius: 8px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        }

        @include tablet {
          width: 320px;
          height: 240px;
          object-fit: cover;
        }
      }

      p {
        font-size: 15px;
        color: $text-primary;
        padding-top: 5px;

        @include tablet {
          font-size: 16px;
          padding-top: 6px;
        }
      }
    }
  }
}
