@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.howitworks {
  display: flex;
  flex-direction: column;
  padding: 20px;

  @include tablet {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 32px 24px 32px 24px;
  }

  @include desktop {
    padding: 96px 80px 48px 80px;
  }

  &__flavor,
  &__tailor,
  &__savor {
    background-color: $card-light-bg;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 100%;
    height: 280px;

    img {
      width: 72px;
      height: 72px;
      padding-bottom: 20px;

      @include tablet {
        width: 80px;
        height: 80px;
        padding-bottom: 16px;
      }

      @include desktop {
        width: 90px;
        height: 90px;
        padding-bottom: 20px;
      }
    }

    h3 {
      font-family: "Poppins";
      font-weight: 600;
      font-size: 14px;
      padding-bottom: 4px;
      color: $text-primary;

      @include tablet {
        font-size: 16px;
      }

      @include desktop {
        font-size: 18px;
        width: 80%;
      }
    }

    p {
      font-family: "Poppins";
      font-weight: 400;
      font-size: 14px;
      color: $text-secondary;
      width: 80%;

      @include tablet {
        font-size: 15px;
      }

      @include desktop {
        font-size: 16px;
        width: 70%;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include tablet {
      margin-bottom: 0px;
      margin-right: 16px;
      height: 308px;

      @include desktop {
        margin-right: 24px;
        height: 324px;
      }

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
