@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.cuisine-carousel {
  position: relative;
  padding: 40px 20px 20px 20px;

  @include tablet {
    margin: 64px 24px 32px 24px;
    background-color: $bg-white;
    width: 100%;

    height: 94px;
    border-radius: 47px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 30px 40px;
    overflow: hidden;
  }

  &__slider {
    display: flex;
    align-items: center;

    @include tablet {
      padding: 0 10px;
    }
    &-item {
      text-decoration: none;
      &-content {
        color: $text-primary;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px;
        margin: 0 auto;

        @include tablet {
          padding: 0px 20px;
        }

        img {
          width: 40px;
          height: 40px;
          object-fit: contain;
          margin-bottom: 4px;
        }

        p {
          font-family: "Poppins";
          font-size: 12px;
          font-weight: 400;
          text-align: center;
          margin: 0;
          padding: 0;
          width: auto;
        }
      }
    }

    .slick-slide {
      width: auto !important; // Adjust slide width to content
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      justify-content: center !important;

      @include tablet {
        // width: 25% !important;
      }
    }

    .slick-slide > div {
      margin: 0;
      padding: 0;
    }
  }
}

// Increase specificity here
.cuisine-carousel .slick-prev,
.cuisine-carousel .slick-next {
  display: block;
  background-color: $primary-color-main;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  z-index: 2;
  cursor: pointer;

  &::before {
    font-size: 18px;
    line-height: 1;
  }

  @include tablet {
    top: 50%;
    transform: translateY(-50%);
  }
}
