@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.caterer-profile {
  @include desktop {
    padding: 180px 80px 96px 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    &__top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 40px;
    }
  }
}
